fastapi[standard]
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
bcrypt
python-jose[cryptography]
oss2 
python-multipart 
aiofiles
filetype
redis
pytest
pytest-asyncio
langchain
langgraph
langchain-openai
langchain-postgres
pgvector
langchain-community
mcp
pypdf
beautifulsoup4
lxml
