fastapi[standard]
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
bcrypt
python-jose[cryptography]
oss2
python-multipart
aiofiles
filetype
redis
pytest
pytest-asyncio
langchain
langgraph
langchain-openai
langchain-deepseek
pgvector
langchain-community
mcp
psycopg
pypdf
beautifulsoup4
lxml
Pillow
httpx
PyYAML
